body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.reasons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.reason {
    width: 30%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.5s;
}

.reason h2 {
    color: #333;
}

.reason p {
    color: #666;
}

#health { background-color: #adebad; }
#environment { background-color: #ffcc99; }
#ethical { background-color: #ff9999; }

.reason:hover {
    transform: scale(1.1);
    cursor: pointer;
}
